/*overwriting styling of navbar */
html,body{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand {
    color: white;
    font-size: 24px;
    margin-left: 20px;
}

.navbar .navbar-nav .nav-item > a{
    color: white;
}

.blue {
    height: 100%;
    background-color: blue;
}

h1 {
    padding-top: 20px;
}

footer {
    height: 80vh;
}
/* show username */
.custom-p {
    font-size: xx-small;
    color: grey;
}

.footer-text {
    color: white;
}
