{% extends 'base.html' %}
{% block content %} {% load crispy_forms_tags %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="container">
  <div class="row">
      <div class="col shadow card mb-4  mt-3 left bg-light top">
          <div class="card-body">
      <small>By: {{ discussion.author}}</small>
      <h2>{{ discussion.title }}</h2>
      <p>{{ discussion.description }}</p>
      <div class="likes-dislikes">
        <p>Likes: {{ discussion.number_of_likes }}</p>
        <form method="post">
          {% csrf_token %}
          {% if not liked %}
            <button type="submit" name="like" class="like-button">Like</button>
          {% else %}
            <button type="submit" class="like-button" disabled>Liked</button>
          {% endif %}
        </form>
      
        <p>Dislikes: {{ discussion.dislikes.count }}</p>
        <form method="post">
          {% csrf_token %}
          {% if not disliked %}
            <button type="submit" name="dislike" class="dislike-button">Dislike</button>
          {% else %}
            <button type="submit" class="dislike-button" disabled>Disliked</button>
          {% endif %}
        </form>
      </div>
      
          </div>
      </div>
    </div>
  </div>




  <!-- Displaying the comments -->
<h3 class="text-center">Comments:</h3>
{% for comment in comments %}
{% if not comment.parent %}
<div class="row justify-content-center m-3">
  <div class="shadow col-md-6 card border p-2 rounded bg-light">
    <h5 class="card-title text-center">By: {{ comment.author }}</h5>
    <p class="card-text p-2">{{ comment.text }}</p>
      {% if request.user == comment.author %}
      <div class="row justify-content-center">
        <div>
  {% csrf_token %}
  <form action="{% url 'delete_comment' comment.id %}" method="post" id="delete-form-{{ comment.id }}">
    {% csrf_token %}
  </form>
  <input type="button" value="Delete" class="btn btn-danger" onclick="confirmDelete({{ comment.id }})">
  <a class="btn btn-primary" href="{% url 'edit_comment' comment.pk %}">Edit</a>
{% endif %}
      <a class="btn btn-primary" data-toggle="collapse" href="#reply-form-{{ comment.id }}" role="button" aria-expanded="false" aria-controls="reply-form-{{ comment.id }}">
        Reply
      </a>
        </div>
      </div>
      {% endif %}
      {% if comment.children.exists %}
        <a class="btn btn-link" data-toggle="collapse" href="#child-comments-{{ comment.id }}" role="button" aria-expanded="false" aria-controls="child-comments-{{ comment.id }}">
          <i class="fa-solid fa-angle-down"></i><span> {{ comment.children.count }}</span>
        </a>
        <div class="collapse" id="child-comments-{{ comment.id }}">
          <ul class="list-group list-group-flush">
            {% for child in comment.children.all %}
              <li class="list-group-item m-2 border shadow rounded">{{ child.text }} <br> by: <small>{{ child.author }}</small>
                {% if request.user == child.author %}
                  {% csrf_token %}
                  <form action="{% url 'delete_comment' child.id %}" method="post" id="delete-form-{{ child.id }}">
                    {% csrf_token %}
                  </form>
                  <input class="btn btn-danger" type="button" value="Delete" onclick="confirmDelete({{ child.id }})">
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
</div>
<!-- Reply comment form  -->
    <div class="collapse" id="reply-form-{{ comment.id }}">
      <div class="row justify-content-center">
        <div class="col-md-6 card-body m-4 mt-3 border shadow rounded bg-light">
      <div class="card-footer">
        <form method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <input type="hidden" name="parent_id" value="{{ comment.id }}">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
      </div>
    </div>
  </div>
{% endfor %}






</div>
<hr>
<div class="row justify-content-center">
  <div class="col-md-8 shadow card mb-4  mt-3 ">
      <div class="card-body">
<h3>Add a Comment</h3>
<form method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
      </div>
  </div>
</div>

<script>
function confirmDelete(commentId) {
  if (confirm("Are you sure you want to delete the comment?")) {
    document.getElementById("delete-form-" + commentId).submit();
  }
      }
</script>
{% endblock %}