{% extends 'base.html' %}
{% block content %}

<h2>{{ discussion.title }}</h2>
<p>{{ discussion.description }}</p>
<hr>
<h3>Comments</h3>
<div id="comments">
  {% for comment in comments %}
    <div class="comment">
      {{ comment.text }}
      <button class="reply-button" data-comment-id="{{ comment.id }}">Reply</button>
      <form class="reply-form" data-comment-id="{{ comment.id }}" style="display: none;">
        <!-- Add the reply form here -->
      </form>
      <div class="replies">
        <!-- Child comments go here -->
        {% for reply in comment.children.all %}
          <div class="comment">
            {{ reply.text }}
            <button class="reply-button" data-comment-id="{{ reply.id }}">Reply</button>
            <form class="reply-form" data-comment-id="{{ reply.id }}" style="display: none;">
              <!-- Add the reply form here -->
            </form>
            <div class="replies">
              <!-- Nested child comments go here -->
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
<hr>
<h3>Add a Comment</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save</button>
</form>
<script>
  $(document).on("click", ".reply-button", function() {
    var commentId = $(this).data("comment-id");
    $(".reply-form[data-comment-id=" + commentId + "]").toggle();
  });

  $(document).on("submit", ".reply-form", function(event) {
    event.preventDefault();

    var form = $(this);
    var commentId = form.data("comment-id");
    var commentText = form.find("input[name=text]").val();

    // Send an AJAX request to the server to save the reply
    $.post("/save-reply/", { comment_id: commentId, text: commentText }, function(data) {
      // Add the reply to the list of child comments for the parent comment
      form.before("<div class='comment'>" + commentText + "</div>");
      form.toggle();
    });
  });
</script>
{% endblock %}