{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-4">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-12">
                    <div class="card mt-5 mb-5">
                        <div class="card-body">
                            <div class="image-container ">
                                {% if "placeholder" in post.featured_image.url %}
                                <img src="#" alt="" class="card-img-top">
                                {% else %}
                                <img src="{{ post.featured_image.url }}" alt="" class="card-img-top">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title" style="color: black;">{{ post.title }}</h2>
                                <p class="card-text" style="color: black;">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on }} <i
                                    class="far fa-heart"></i>{{ post.number_of_likes }}</p>
                            {% else %}
                            <a href="{% url 'post_detail' post.slug %}" class="post-link" data-toggle="modal"
                                data-target="#exampleModal">
                                <h2 class="card-title" style="color: black;">{{ post.title }}</h2>
                                <p class="card-text" style="color: black;">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Modal that pops-up if user is not autheticated -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You need to be logged in to view this content</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                If You Dont Already Have An Account You Can Sign Up By Clicking At The Sign Up Button!
            </div>
            <div class="modal-footer">
                <a href="{% url 'account_login' %}" class="btn btn-success">Login</a>
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}