{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<!-- message displaying messages from view-->
{% if messages %}
<div class="row justify-content-center">
    {% for message in messages %}
    <div class="col-md-6 mt-3 w-50">
        <div class="alert alert-primary">
            {{ message.message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- email form-->
<div class="row justify-content-center">
    <div class="cold-md-6 mt-3 p-4 w-50 card">
        <h3 class="p-4">Send us an email!</h3>
        <form method="post" action="." class="" style="margin-top: 1.3em;">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </form>
        <div>
        </div>
        {% endif %}{% endblock %}